body {
  padding: 20px;
  margin: 20px;
  color: rgb(230, 150, 3);
  text-shadow: 2px 0 0 #050100, -2px 0 0 #050100, 0px -2px 1px #050100,
    0 2px 0 #050100, 0 -2px 0 #050100;
  background-size: cover;
  background-repeat: none;
  background-image: url(../img/krustyburger.jpg);
}

button {
  background: none;
  color: rgb(230, 150, 3);
  text-shadow: 2px 0 0 #050100, -2px 0 0 #050100, 0px -2px 1px #050100,
    0 2px 0 #050100, 0 -2px 0 #050100;
  border: none;
}

h1 {
  font-size: 75px;
  margin-bottom: 25px;
  color: rgb(230, 150, 3);
  text-shadow: 2px 0 0 #050100, -2px 0 0 #050100, 0px -2px 1px #050100,
    0 2px 0 #050100, 0 -2px 0 #050100;
}

h2 {
  /* font-size: 75px; */
  margin-bottom: 25px;
  color: rgb(230, 150, 3);
  text-shadow: 2px 0 0 #050100, -2px 0 0 #050100, 0px -2px 1px #050100,
    0 2px 0 #050100, 0 -2px 0 #050100;
}

ul {
  font-size: 28px;
  list-style-type: none;
}

label {
  font-size: 28px;
}

input {
  background: none;
  color: rgb(230, 150, 3);
  text-shadow: 2px 0 0 #050100, -2px 0 0 #050100, 0px -2px 1px #050100,
    0 2px 0 #050100, 0 -2px 0 #050100;
  border: outset;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 18px;
    background-repeat: none;
    background-size: cover;
    text-shadow: 2px 0 0 #050100, -2px 0 0 #050100, 0px -2px 1px #050100,
      0 2px 0 #050100, 0 -2px 0 #050100;
  }

  button {
    font-size: 12px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20apx;
  }

  ul {
    font-size: 16px;
  }
  label {
    font-size: 16px;
  }
}
