body {
  padding: 20px;
  margin: 20px;
  color: rgb(230, 150, 3);
  text-shadow: 2px 0 0 #050100, -2px 0 0 #050100, 0px -2px 1px #050100,
    0 2px 0 #050100, 0 -2px 0 #050100;
  background-image: url(../img/krustyburger.jpg);
  background-size: cover;
}

button {
  background: none;
  color: rgb(230, 150, 3);
  text-shadow: 2px 0 0 #050100, -2px 0 0 #050100, 0px -2px 1px #050100,
    0 2px 0 #050100, 0 -2px 0 #050100;
  border: none;
}

h1 {
  font-size: 75px;
  margin-bottom: 25px;
  color: rgb(230, 150, 3);
  text-shadow: 2px 0 0 #050100, -2px 0 0 #050100, 0px -2px 1px #050100,
    0 2px 0 #050100, 0 -2px 0 #050100;
}

ul {
  font-size: 28px;
  list-style-type: none;
}

label {
  font-size: 28px;
}

input {
  background: none;
  color: rgb(230, 150, 3);
  text-shadow: 2px 0 0 #050100, -2px 0 0 #050100, 0px -2px 1px #050100,
    0 2px 0 #050100, 0 -2px 0 #050100;
    border: outset;
}
